<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00020000" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />

    <application
        android:label="J2ME"
        android:allowBackup="true"
        android:hasCode="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <!-- SDLActivity spins up the native thread that calls main().
             We subclass it to pre-extract bundled assets and set HOME. -->
        <activity
            android:name="com.j2me.runtime.J2meActivity"
            android:label="J2ME"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|uiMode"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="main" />
        </activity>

    </application>
</manifest>
